.bota_header{
    padding: 3px 0;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.07);
    &.active{
        .bota_header_search_box{
            display: block;
        }
        .bota_header_menu {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            visibility: hidden;
        }
        .bota_header_search_box {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            left: auto;
        }
        .bota_header_language{
            display: none;
        }
    } 
    &_logo img {
        max-width: 150px;
    }
    &_menu {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        > .bota_header_menu_ul {
            > li {
                > a {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #252B3A;
                padding: 0 42px 0 12px;
                display: block;
                > span {
                    position: relative;
                    display: inline-block;
                    padding: 15px 0;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 7px;
                        width: 0;
                        height: 2px;
                        background: $color-primary;
                        left: 0;
                        right: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.5s ease;
                    }
                    
                }
                }
                
                &:hover > a > span{
                    color: $color-primary;
                    &::after {
                        opacity: 1;
                        visibility: visible;
                        width: 100%;
                    }
                }
                &.parent{
                    position: relative;
                    &:nth-child(2){
                        position: static;
                        &:hover .bota_menu_sub{
                            display: flex;
                        }
                    }
                    > a{
                        position: relative;
                        &:after {
                            top: 50%;
                            transform: translateY(-50%);
                            right: 25px;
                            color: #252B3A;
                            position: absolute;
                            content: '\f0d7';
                            font-family: FontAwesome;
                            font-size: 14px;
                            -webkit-transition: all .3s ease-in-out;
                            -ms-transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                            -o-transition: all .3s ease-in-out;
                            transition: all .3s ease-in-out;
                            line-height: 5px;
                        }
                        &:hover:after {
                            transform: rotate(180deg);
                            transition: all .3s ease-in-out;
                            color: $color-primary;
                        }
                    }
                }
                &:hover .bota_menu_sub{
                    display: block;
                }
                .bota_menu_sub {
                    background: #FFFFFF;
                    position: absolute;
                    width: 264px;
                    top: 100%;
                    z-index: 99;
                    left: 0;
                    transition: all 0.5s ease;
                    display: none;
                    padding: 25px 26px;
                    &.bota_menu_sub_tab{
                        display: none;
                        width: 100%;
                        padding: 13px 89px;
                        .bota_header_bg_border{
                            border-left: 1px solid #D4DADD;
                        }
                        .bota_menu_sub_img {padding-left: 17px;}
                        #menu-sub-tab {
                            flex: 0 0 25%;
                            max-width: 25%;
                            padding-right: 15px;
                            padding-left: 15px;
                            border-right: 1px solid #D4DADD;
                            margin-right: 41px;
                            .nav-link {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 20px;
                                color: #7B7B7B;
                                padding: 12.5px 0;
                                position: relative;
                                display: inline-block;
                                span{
                                    position: relative;
                                    display: inline-block;
                                    padding-bottom: 5px;
                                    &::after{
                                        content: "";
                                        width: 0;
                                        height: 1px;
                                        background-color: #0052CC;
                                        position: absolute;
                                        bottom: 0;
                                        transition: all 0.5s ease;
                                        left: 0;
                                    }
                                }
                                
                                &.active{
                                    color: #0052CC;
                                    background: transparent;
                                    span{
                                        &::after{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            
                        }
                        .bota_menu_sub_tab_list{
                            .bota_menu_tab_item {
                                .bota_menu_tab_name {
                                    a {
                                      font-style: normal;
                                      font-weight: 500;
                                      font-size: 15px;
                                      line-height: 20px;
                                      color: #252B3A;
                                      display: block;
                                    }
                                  
                                    margin-bottom: 15px;
                                  }
                                  .bota_menu_tab_description a {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: #7B7B7B;
                                    display: block;
                                    margin-bottom: 5px;
                                    span{
                                        display: inline-block;
                                        padding-bottom: 5px;
                                        position: relative;
                                        &::after {
                                            content: "";
                                            width: 0;
                                            height: 1px;
                                            background-color: #0052CC;
                                            position: absolute;
                                            bottom: 0;
                                            transition: all 0.5s ease;
                                            left: 0;
                                        }
                                        &:hover{
                                            color: #0052CC;
                                            &::after{
                                                width: 100%;
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        } 
                    }
                  
                    > li {
                        margin-bottom: 15px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        
                        > a {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #252B3A;
                            display: block;
                            transition: all 0.5s ease;
                            span{
                                position: relative;
                                display: inline-block;
                                padding-bottom: 5px;
                                &::after{
                                    content: "";
                                    width: 0;
                                    height: 1px;
                                    background-color: #0052CC;
                                    position: absolute;
                                    bottom: 0;
                                    transition: all 0.5s ease;
                                    left: 0;
                                }
                            }
                            &:hover > span{
                                color: #0052CC;
                                &::after{
                                    width: 100%;
                                }
                            }
                          }
                    }
                  }
            }
        
        display: flex;
        flex-wrap: wrap;
        }
    }
    &_right {
        display: flex;
        justify-content: flex-end;
      
        .bota_header_language{
            padding: 0 40px 0 0;
            position: relative;
            &:hover .bota_header_language_ul {
                display: block;
              }
            button {
                background: none;
                border: none;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #252B3A;
            
                svg {
                  
                  &:first-child{
                      margin-right: 3px;
                  }
                  &:last-child{
                      margin-left: 3px;
                  }
                }
              }
              .bota_header_language_ul {
                right: 0;
                margin: 0;
                top: 100%;
                z-index: 9999;
                display: none;
                min-width: 130px;
                text-align: left;
                padding: 10px 15px;
                position: absolute;
                background-color: #fff;
                border-radius: 3px;
                -ms-border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                -o-border-radius: 3px;
                -webkit-box-shadow: 0 3px 6px 0 rgba(18, 22, 25, 0.16);
                -ms-box-shadow: 0 3px 6px 0 rgba(18, 22, 25, 0.16);
                -o-box-shadow: 0 3px 6px 0 rgba(18, 22, 25, 0.16);
                -moz-box-shadow: 0 3px 6px 0 rgba(18, 22, 25, 0.16);
                box-shadow: 0 3px 6px 0 rgba(18, 22, 25, 0.16);
              
                li {
                    margin-bottom: 5px;
                    &.active{
                        a{
                            &::before{
                                content: "";
                                background-size: 10px;
                                background-repeat: no-repeat;
                                background-position: left center;
                                background-image: url(../imgs/check-mark.svg);
                                width: 16px;
                                height: 11px;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    a {
                    padding-left: 15px;
                    color: #000;
                    font-weight: 400;
                    font-size: 14px;
                    position: relative;
                    }
                }
              }
        }
        .bota_header_search_btn {
            cursor: pointer;
            line-height: 10px;
            &.active{
                i{
                    &::before{
                        background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="22" height="21" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"%3E%3Cpath fill="black" d="M764.288 214.592L512 466.88L259.712 214.592a31.936 31.936 0 0 0-45.12 45.12L466.752 512L214.528 764.224a31.936 31.936 0 1 0 45.12 45.184L512 557.184l252.288 252.288a31.936 31.936 0 0 0 45.12-45.12L557.12 512.064l252.288-252.352a31.936 31.936 0 1 0-45.12-45.184z"%2F%3E%3C%2Fsvg%3E');
                    }
                }
            }
        } 
      }
      .bota_header_search_box {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform-origin: 100% center;
        -ms-transform-origin: 100% center;
        transform-origin: 100% center;
        margin-right: 180px;
        padding-left: 20px;
        top: 10px;
        z-index: 100;
        width: 350px;
        padding-top: 0;
        right: 8px;
        position: absolute;
      
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        left: auto;
        .bota_header_search_border{
            position: relative;
        }
      
        input {
          width: 100%;
          height: 35px;
          border: none;
          line-height: 35px;
          padding-left: 20px;
          outline: none;
          font-size: 14px;
          padding-right: 50px;
          background-color: #fff;
          box-shadow: 0px 3px 8px #d4d4d4;
        }
      
        .bota_header_search_btns {
          position: absolute;
          right: 15px;
          top: 50%;
          color: #86807f;
          text-decoration: none;
          margin: 0 !important;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
}