
.bota_slideshow_block_top{
    position: relative;
    .item{
        &.slick-current{
            .bota_banner_slide_item{
                h3,.bota_banner_slide_description,.bota_banner_slide_link{
                    opacity: 1;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }
        }
    }
    .bota_banner_slide_item {
        position: relative;
        &:before {
            z-index: 4;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-repeat: repeat-x;
            background-position: bottom left;
            background-image: url(../imgs/bg-slideshow.svg);
        }
      
        img {
          width: 100%;
        }
      
        .bota_banner_slide_content {
          width: 100%;
          bottom: 73px;
          position: absolute;
          z-index: 5;
        }
      }
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 1.18;
        color: #fff;
        max-width: 1060px;
        margin-bottom: 20px;
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        transition: .6s ease-out .1s;
      }
      
      .bota_banner_slide_description {
        color: #fff;
        line-height: 1.65;
        margin-bottom: 15px;
        max-width: 1060px;
        font-weight: 300;
        font-size: 17px;
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        transition: .6s ease-out .1s;
      }
      
      .bota_banner_slide_link {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        transition: .6s ease-out .1s;
        a {
          border: 1px solid #FFFFFF;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          color: #fff;
          height: 33px;
          padding: 0 41px;
          display: inline-block;
          line-height: 33px;
          transition: all 0.5s ease;
      
          &:hover {
            background: #FF7E3D;
          }
        }
      
        display: inline-block;
      }
      .slick-dots {
        position: absolute;
        bottom: 18px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
      
        li {
            padding: 5px 3px;
            button {
                width: 65.62px;
                height: 3px;
                font-size: 0;
                border: none;
                background: #fff;
                box-shadow: none;
                opacity: 0.3;
                transition: .2s;
            }
      
          &.slick-active button {
            opacity: 1;
          }
        }
      }
}