.bota_feedback_home {
    position: relative;
    &::before{
        content: "";
        background: #00204F;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 80%;
    }

    .bota_feedback_body {
        background: #fff;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        padding: 0 204px 104px;
        position: relative;
        margin-top: 82px;
      }
      
      .bota_feedback_title {
        h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          text-align: center;
          color: #252B3A;
        }
      
        padding: 45px 0 41px;
      }
      
      .bota_feedback_description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #4D4D4D;
        margin-bottom: 45px;
        position: relative;
        padding-left: 65px;
        padding-top: 20px;
        text-align: justify;
        &::before{
            content: "";
            background-image: url("data:image/svg+xml,%0A%3Csvg width='55' height='35' viewBox='0 0 55 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.6133 35V17.5978L40.1996 0H54.25L49.3714 16.0335H53.4694V35H31.6133ZM0 35V17.5978L8.58633 0H22.6367L17.9532 16.0335H21.8561V35H0Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
            width: 54px;
            height: 35px;
            position: absolute;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
        }
        &::after{
            content: "";
            background-image: url("data:image/svg+xml,%0A%3Csvg width='55' height='35' viewBox='0 0 55 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6367 35V17.5978L14.0504 0H0L4.8786 16.0335H0.780575V35H22.6367ZM54.25 35V17.5978L45.6637 0H31.6133L36.2968 16.0335H32.3939V35H54.25Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
            width: 54px;
            height: 35px;
            position: absolute;
            background-repeat: no-repeat;
            right: 0;
            bottom: -15px;
        }
      }
      
      .name {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        color: #0052CC;
        margin-bottom: 10px;
        line-height: 1;
      }
      
      .position {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #4D4D4D;
      }
      
      .bota_feedback_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .bota_reamore_link a {
        width: 130px;
          svg{
                margin-left: -6px;
            }
        }
      .bota_feedback_img {
        position: relative;
        height: 350px;
      
        img {
            width: 269px;
            height: 270px;
            position: absolute;
            top: 60px;
            left: 30px;
            right: 0;
            object-fit: cover;
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 100%;
        }
      
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-image: url(../imgs/bg-img-feedback.svg);
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
       .slick-dots {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
      
        li {
          button {
            background: #E0E0E0;
            font-size: 0;
            border: none;
            margin: 0 5px;
            height: 3px;
            width: 90px;
          }
      
          &.slick-active button {
            background: #0052CC;
          }
        }
      }
  }
  
