.bota_block_info {
    padding: 80px 0;
    .bota_block_info_description {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #4D4D4D;
        margin-bottom: 30px;
      }
      
      .bota_block_info_link a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #0052CC;
        display: inline-block;
        align-items: center;
        position: relative;
        background: #fff;
        border-radius: 10px;
        padding-right: 25px;
        transition: all 0.5s ease;
      
        .bota_block_info_icon {
          background: #0052CC;
          border-radius: 100%;
          width: 33px;
          height: 33px;
          text-align: center;
          line-height: 33px;
          margin-right: 15px;
          display: inline-block;
        }
      
        &:hover {
          color: #fff;
          background: #0052CC;
      
          .bota_block_info_icon {
            background: unset;
          }
        }
      }
  }
  
  .bota_title_main {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 33px;
      color: #252B3A;
      margin: 0;
      position: relative;
      padding-bottom: 10px;
  
      &:after {
        content: "";
        height: 3px;
        background: #0052CC;
        width: 222px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  
    margin-bottom: 31px;
  }
