.bota_block_info {
    padding: 80px 0 330px;
    position: relative;
    &.participation{
      margin-top: -128px;
      padding-top: 232px;
      padding-bottom: 180px;
    }
    &::before{
      content: "";
      background-image: url(../imgs/bg-about.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .bota_block_info_img {
      position: absolute;
      right: 0;
      padding-top: 89px;
      max-width: 63%;
      bottom: 0;
    }
    .bota_block_info_col{
      position: static;
    }
   
      
     
  }
  
  .bota_title_main {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      color: #252B3A;
      margin: 0;
      position: relative;
      padding-bottom: 10px;
  
      &:after {
        content: "";
        height: 3px;
        background: #0052CC;
        width: 222px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  
    margin-bottom: 31px;
  }
  .bota_block_info_description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4D4D4D;
    margin-bottom: 30px;
  }
  .bota_reamore_link a {
    display: block;
    width: 176px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    text-decoration: none;
    color: #0052CC;
    text-align: center;
    position: relative;
    transition: all .35s;
    &::after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 33px;
      height: 33px;
      background: #0052CC;
      transition: all .35s;
      border-radius: 100px;
    }
    > span {
      position: relative;
      z-index: 1;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    
      color: #fff;
    }
    svg {
      margin-left: -20px;
      width: 15px;
      margin-bottom: 2px;
      margin-right: 25px
    }
    
  }
  .bota_block_info_technology {
    position: relative;
    padding: 80px 0;
    .bota_block_info_description{
      max-width: 661px;
      margin-bottom: 40px;
    }
    .bota_block_technology_img {
      img {
        width: 100%;
      }
    
      .bota_block_technology_action {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        user-select: none;
        h3 {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          text-align: center;
          color: #fff;
          margin-bottom: 10px;
          
        }
        .bota_block_technology_count {
          font-style: normal;
          font-weight: 700;
          font-size: 90px;
          text-align: center;
          color: #fff;
          line-height: 73px;
          margin-bottom: 10px;
        }
        
        .text {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
          color: #fff;
        }
      }
    }
    .bota_block_technology_content {
      margin-left: 62px;
      .bota_block_technology_info {display: none;}
      .bota_block_technology_item{
        border-top: 1px solid #D4DADD;
        padding-top: 30px;
        margin-bottom: 30px;
      }
    }
    
    .bota_block_technology_title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #252B3A;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      position: relative;
      transition: all 0.5s ease;
      &.open{
        &::before{
          opacity: 1;
          visibility: visible;
          transform: translateY(-50%) rotate(0);
        }
        color: #0052CC;
      }
      &:hover{
        &::before{
          opacity: 1;
          visibility: visible;
        }
        color: #0052CC;
      }
      &::before{
        content: "";
        position: absolute;
        right: 0;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.22604 10.0541C7.62615 10.5431 8.37385 10.5431 8.77396 10.0541L15.6637 1.63324C16.1979 0.980306 15.7334 -2.38419e-07 14.8898 -2.38419e-07H1.11024C0.266616 -2.38419e-07 -0.197931 0.980307 0.336285 1.63324L7.22604 10.0541Z' fill='%230052CC'/%3E%3C/svg%3E%0A");
        width: 16px;
        height: 11px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
      }
    
      i {
        margin-right: 20px;
        transition: all 0.5s ease;
      }
    }
    
    .bota_block_technology_description {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      color: #4D4D4D;
      text-align: justify;
      margin-bottom: 30px;
    }
    .bota_block_technology_list {
      margin-bottom: 10px;
      ul {
      column-count: 2;
    
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #252B3A;
        margin-bottom: 20px;
        position: relative;
        padding-left: 20px;
    
        &:before {
          content: "";
          background: #fff;
          padding: 1.5px;
          border: 1px solid #252B3A;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}